In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

In [6]:
n_samples = 700

room = np.random.choice(15, n_samples) + 10 #кол-во комнат
square_room = np.random.choice(20, n_samples) + 30 #площадь комнаты
window = np.random.choice(5, n_samples) + 10 #кол-во 

price_on_remont = room * square_room * 2500  #цена на ремонт в тыс.р

data = pd.DataFrame({'room': room, 'square_room': square_room, 'window': window, 'price_on_remont': price_on_remont})
data.head(5)

   room  square_room  window  price_on_remont
0    12           31      13           930000
1    17           36      11          1530000
2    22           48      12          2640000
3    13           32      11          1040000
4    20           32      11          1600000

In [7]:
from sklearn.metrics import mean_absolute_error

X = data[['room', 'square_room', 'window' ]]
y = data['price_on_remont']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['room', 'square_room', 'window']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [98794.72665974 42780.12520241  1872.62502484]
Bias: -1712987.050349562
Error: 44993.69896755277

In [8]:
y.mean()

1683628.5714285714

In [9]:
from sklearn.metrics import mean_absolute_error

X = data[['room', 'square_room']]
y = data['price_on_remont']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['room', 'square_room']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [98806.18169882 42754.19220236]
Bias: -1689719.170543699
Error: 44837.981975216644

In [10]:
data['mult'] = data['room'] * data['square_room']
data.head(5)

   room  square_room  window  price_on_remont  mult
0    12           31      13           930000   372
1    17           36      11          1530000   612
2    22           48      12          2640000  1056
3    13           32      11          1040000   416
4    20           32      11          1600000   640

In [11]:
X = data[['mult']]
y = data['price_on_remont']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['mult']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [2500.]
Bias: -2.3283064365386963e-10
Error: 2.8937522854123798e-11

для начала мы включили все предположительные параметры в нашу модель, но величина ошибки оказалась очень высокая, мы исключили лишние параметры, но и это нам не помогло минимизировать ошибку, для этого мы создаем дополнительный более информативный параметр mult и нам удается свести нашу ошибку к минимуму так как наша модель стала линейной